* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.all-container {
  width: 100%;
  height: 100vh;
  background-color: #13171c;
}

/** --HEADER-- **/
.header {
  width: 100%;
  height: 114px;
  padding: 35px 6.4%;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header {
    height: 121px;
    border-bottom: solid 1px;
  }
}
.header__link-logo-img {
  height: 60px;
}
@media (min-width: 768px) {
  .header__link-logo-img {
    margin-bottom: 40px;
  }
}
.header__open-button-img {
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .header__open-button-img {
    display: none;
  }
}

.header__nav {
  display: none;
  gap: 42px;
}
@media (min-width: 768px) {
  .header__nav {
    display: flex;
  }
}
.header__nav-link {
  font-size: 18px;
  color: #eeeeee;
  margin-bottom: 47px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.header__menu-burger {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  background-color: #13171c;
}

.header__menu-burger-close-button {
  width: 40px;
  height: 40px;
  align-self: flex-end;
  margin-top: 54px;
  margin-right: 24px;
}

.header__menu-burger-content {
  display: grid;
  justify-content: center;
  gap: 70px;
  margin-top: 100px;
}

.header__menu-burger-content-link {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  text-align: center;
  color: #ffffff;
}

/** --FORM-- **/

.form {
  width: 100%;
  height: 986px;
  background-color: #13171c;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 100px 31px;
}

@media (min-width: 768px) {
  .form {
    flex-direction: row;
    justify-content: center;
  }
}

.form__title {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  .form__title {
    display: block;
    width: 57%;
    text-align: start;
    margin-left: 90px;
  }
}
.form__cont {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 768px) {
  .form__cont {
    width: 57%;
  }
}
.form__cont-subcont-inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 768px) {
  .form__cont-subcont-inputs {
    flex-direction: row;
  }
}
.label {
  font-family: "Poppins", sans-serif;
  color: #eeeeee;
  font-size: 18px;
  font-weight: 700;
}
.input {
  background-color: #393e4680;
  border: none;
  border-radius: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #eeeeee80;
}
.input::placeholder {
  color: #eeeeee80;
}

.textarea {
  background-color: #393e4680;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #eeeeee80;
  height: 280px;
}
.button {
  background-color: #00adb5;
  width: 312px;
  height: 55px;
  border: none;
  border-radius: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
/** --FOOTER-- **/

.footer {
  width: 100%;
  height: 534px;
  background-color: #0f1113;
  display: grid;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .footer {
    background-color: #13171c;
  }
}
.footer__logo {
  margin-left: 20px;
}
@media (min-width: 768px) {
  .footer__logo {
    margin-left: 120px;
  }
}
.footer__pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
@media (min-width: 768px) {
  .footer__pages {
    flex-direction: row;
    gap: 48px;
  }
}
.footer__pages-subcont {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__pages-links {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #eeeeee;
}

.footer__pages-logo {
  width: 24px;
  height: 24px;
}

.footer__social-media {
  display: flex;
  justify-content: space-between;
  width: 192px;
}
@media (min-width: 768px) {
  .footer__social-media {
    margin-left: 105px;
  }
}

.footer__copy {
  text-align: center;
}
